* {
  font-family: Arial, Helvetica, sans-serif;
}

h2,
p {
  color: blueviolet;
}

#municipalities path {
  fill: hotpink;
  box-shadow: 1px 1px 1px violet;
  stroke: blueviolet;
  stroke-width: 0.75px;
}

#lakes path {
  fill: pink;
}

#tooltip-map {
  position: absolute;
  padding: 10px;
  background: blueviolet;
  color: hotpink;
  border-radius: 8px;
  pointer-events: none;
}

.do-not-display {
  display: none;
}

#map-container {
  width: 70%;
}
